.pegasus {
  width: 600px;
  height: 600px;
  border: solid 1px #EEEEEE;
  overflow: visible;
}

.footer {
  background-color: #f5f5f5;
}

svg text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pegasus-input-container {
  opacity: 0;
}

.pegasus-caret {
  animation: caret 1.5s steps(1) infinite;
}

@keyframes caret {
  50% {
    opacity: 0;
  }
}

.pegasus-selection {
  fill: #DDDDDD;
}

.drawer {
  width: 240px;
}